@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0 30px;
  font-family: "Poppins";
  background: #324257;
  color: aliceblue;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

.App {
  font-size: 1.2em;
  margin: 10px auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #60d62a;
  border-bottom: 1px dotted;
}

.site-header h1 {
  font-size: 1.5em;
  color: #60d62a;
  padding-bottom: 10px;
  border-bottom: 2px solid;
}

.product-card {
  background: #405570;
  margin: 60px auto;
  padding: 1px 20px 20px 90px;
  position: relative;
}

.product-card .ammount-container {
  position: absolute;
  top: -20px;
  left: 600px;
  background: #60d62a;
  font-size: 2em;
  width: 300px;
  height: 60px;
  color: aliceblue;
  text-align: center;
}

.product-card .ammount-container p {
  position: relative;
  top: -35px;
  font-size: 1em;
  height: 60px;
  color: aliceblue;
  text-align: center;
}

.product-card .ammount-container .add {
  position: absolute;
  right: 10px;
  top: 5px;
  background: #418f1e;
  font-size: 1em;
  height: 50px;
  text-align: center;
  color: aliceblue;
}

.product-card .ammount-container .sub {
  position: absolute;
  left: 10px;
  top: 5px;
  background: #418f1e;
  font-size: 1em;
  height: 50px;
  text-align: center;
  color: aliceblue;
}

.product-card .ammount-container .sub:hover,
.add:hover {
  background: #326c17;
  cursor: pointer;
}

.product-card h2 {
  margin-bottom: 0;
}

.product-card small {
  margin-right: 10px;
  color: aliceblue;
}

.add-button {
  background: #60d62a;
  font-size: 1em;
  text-align: center;
  color: aliceblue;
  border: black 1px solid;
  cursor: pointer;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.add-button:hover {
  background: #49a420;
  cursor: pointer;
}

input,
textarea {
  background: #4a8c2c;
  font-size: 1em;
  color: aliceblue;
  border: black 1px solid;
  max-width: 800px;
  max-height: 500px;
}


.buttons {
  float: right;
}